In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Batemans Bay,AU,2021-08-11 20:43:08,-35.7167,150.1833,51.91,75,18,5.68
1,1,Qeshm,IR,2021-08-11 20:43:09,26.9581,56.2719,93.09,80,0,10.38
2,2,Haines Junction,CA,2021-08-11 20:43:09,60.7522,-137.5108,58.95,51,100,3.44
3,3,Lebu,CL,2021-08-11 20:43:10,-37.6167,-73.6500,52.27,70,0,13.40
4,4,Vizinga,RU,2021-08-11 20:43:10,61.0749,50.1031,57.63,84,100,6.51

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Atuona,PF,2021-08-11 20:43:11,-9.8000,-139.0333,77.54,69,39,19.64
21,21,Yarmouth,US,2021-08-11 20:43:16,41.7057,-70.2286,88.27,85,20,5.01
23,23,Lorengau,PG,2021-08-11 20:43:17,-2.0226,147.2712,82.45,71,99,7.76
24,24,Honiara,SB,2021-08-11 20:43:17,-9.4333,159.9500,76.89,88,100,10.98
27,27,Wanxian,CN,2021-08-11 20:43:18,30.8039,108.3897,75.69,93,97,3.83
31,31,San Andres,CO,2021-08-11 20:43:20,12.5847,-81.7006,86.02,74,40,16.11
33,33,Paka,MY,2021-08-11 20:43:20,4.6374,103.4368,75.13,100,100,0.00
36,36,Nishihara,JP,2021-08-11 20:43:22,26.1842,127.7558,82.06,92,75,14.97
37,37,Kapaa,US,2021-08-11 20:41:25,22.0752,-159.3190,84.52,64,40,1.01
39,39,Hithadhoo,MV,2021-08-11 20:43:23,-0.6000,73.0833,80.69,73,100,8.25

In [16]:
preferred_cities_df.count()

City_ID       184
City          184
Country       184
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
8       Atuona      PF     77.54  -9.8000 -139.0333
21    Yarmouth      US     88.27  41.7057  -70.2286
23    Lorengau      PG     82.45  -2.0226  147.2712
24     Honiara      SB     76.89  -9.4333  159.9500
27     Wanxian      CN     75.69  30.8039  108.3897
31  San Andres      CO     86.02  12.5847  -81.7006
33        Paka      MY     75.13   4.6374  103.4368
36   Nishihara      JP     82.06  26.1842  127.7558
37       Kapaa      US     84.52  22.0752 -159.3190
39   Hithadhoo      MV     80.69  -0.6000   73.0833

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Atuona,PF,77.54,-9.8000,-139.0333,Villa Enata
21,Yarmouth,US,88.27,41.7057,-70.2286,Blue Rock Resort
23,Lorengau,PG,82.45,-2.0226,147.2712,Lorengau Harbourside Hotel
24,Honiara,SB,76.89,-9.4333,159.9500,Heritage Park Hotel
27,Wanxian,CN,75.69,30.8039,108.3897,7Days Inn Chongqing Shiqiaopu
31,San Andres,CO,86.02,12.5847,-81.7006,Hotel Arena Blanca
33,Paka,MY,75.13,4.6374,103.4368,RUMBIA RESORT VILLA
36,Nishihara,JP,82.06,26.1842,127.7558,Minshuku Agaihama
37,Kapaa,US,84.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
39,Hithadhoo,MV,80.69,-0.6000,73.0833,Scoop Guest House

In [29]:
hotel_df.count()

City          184
Country       184
Max Temp      184
Lat           184
Lng           184
Hotel Name    184
dtype: int64

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]