## Deliverable 2. Create a Customer Travel Destinations Map.

In [84]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [85]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,50.81,75,11,20.65,few clouds
1,1,Port Hedland,AU,-20.3167,118.5667,86.05,15,0,10.36,clear sky
2,2,Kavieng,PG,-2.5744,150.7967,81.99,74,100,9.24,overcast clouds
3,3,Nanortalik,GL,60.1432,-45.2371,44.71,81,74,5.28,broken clouds
4,4,Gejiu,CN,23.3060,103.1635,68.02,79,100,5.46,overcast clouds

In [86]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [87]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Port Hedland,AU,-20.3167,118.5667,86.05,15,0,10.36,clear sky
2,2,Kavieng,PG,-2.5744,150.7967,81.99,74,100,9.24,overcast clouds
5,5,Ponta Do Sol,PT,32.6667,-17.1000,72.23,80,5,3.98,clear sky
7,7,Rikitea,PF,-23.1203,-134.9692,74.23,82,17,13.15,light rain
11,11,Mbini,GQ,1.5740,9.6134,75.04,85,100,4.70,overcast clouds
12,12,Atagay,RU,55.1033,99.3875,75.88,50,100,5.08,overcast clouds
13,13,Hilo,US,19.7297,-155.0900,74.80,90,31,3.00,light rain
14,14,Ulaangom,MN,49.9811,92.0667,76.12,40,43,7.11,scattered clouds
16,16,Tongren,CN,27.7172,109.1853,83.80,86,100,1.34,light rain
23,23,Itarema,BR,-2.9248,-39.9167,77.95,82,10,15.08,clear sky

In [ ]:
# 4a. Determine if there are any empty rows.

In [88]:
preferred_cities_df.count()

City_ID                359
City                   359
Country                359
Lat                    359
Lng                    359
Max Temp               359
Humidity               359
Cloudiness             359
Wind Speed             359
Current Description    359
dtype: int64

In [89]:
preferred_cities_df.notnull().count()

City_ID                359
City                   359
Country                359
Lat                    359
Lng                    359
Max Temp               359
Humidity               359
Cloudiness             359
Wind Speed             359
Current Description    359
dtype: int64

In [90]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_preferred_cities_df = preferred_cities_df[preferred_cities_df["City"]!= ""]
clean_preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Port Hedland,AU,-20.3167,118.5667,86.05,15,0,10.36,clear sky
2,2,Kavieng,PG,-2.5744,150.7967,81.99,74,100,9.24,overcast clouds
5,5,Ponta Do Sol,PT,32.6667,-17.1000,72.23,80,5,3.98,clear sky
7,7,Rikitea,PF,-23.1203,-134.9692,74.23,82,17,13.15,light rain
11,11,Mbini,GQ,1.5740,9.6134,75.04,85,100,4.70,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
665,665,Pinos Puente,ES,37.2511,-3.7497,86.07,43,20,2.30,few clouds
668,668,Vaitape,PF,-16.5167,-151.7500,78.26,71,8,13.49,light rain
669,669,Dongsheng,CN,39.8161,109.9776,82.29,22,2,8.55,clear sky
672,672,Atar,MR,20.5169,-13.0499,87.71,18,61,10.36,broken clouds
673,673,Palas,ID,-5.6519,105.6801,81.99,77,66,7.63,light rain

In [96]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Port Hedland,AU,86.05,clear sky,-20.3167,118.5667,
2,Kavieng,PG,81.99,overcast clouds,-2.5744,150.7967,
5,Ponta Do Sol,PT,72.23,clear sky,32.6667,-17.1000,
7,Rikitea,PF,74.23,light rain,-23.1203,-134.9692,
11,Mbini,GQ,75.04,overcast clouds,1.5740,9.6134,
12,Atagay,RU,75.88,overcast clouds,55.1033,99.3875,
13,Hilo,US,74.80,light rain,19.7297,-155.0900,
14,Ulaangom,MN,76.12,scattered clouds,49.9811,92.0667,
16,Tongren,CN,83.80,light rain,27.7172,109.1853,
23,Itarema,BR,77.95,clear sky,-2.9248,-39.9167,

In [97]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [99]:
hotel_df.head(25)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Port Hedland,AU,86.05,clear sky,-20.3167,118.5667,The Esplanade Hotel
2,Kavieng,PG,81.99,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
5,Ponta Do Sol,PT,72.23,clear sky,32.6667,-17.1000,Hotel do Campo
7,Rikitea,PF,74.23,light rain,-23.1203,-134.9692,People ThankYou
11,Mbini,GQ,75.04,overcast clouds,1.5740,9.6134,
12,Atagay,RU,75.88,overcast clouds,55.1033,99.3875,
13,Hilo,US,74.80,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
14,Ulaangom,MN,76.12,scattered clouds,49.9811,92.0667,Achit Nuur Hotel & Restaurant
16,Tongren,CN,83.80,light rain,27.7172,109.1853,Fanjing Mountain International Conference Center
23,Itarema,BR,77.95,clear sky,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
24,Albany,US,74.32,overcast clouds,42.6001,-73.9662,
26,Cayenne,GF,77.09,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
28,Mpulungu,ZM,76.77,clear sky,-8.7623,31.1141,Chela moche guest house
33,Kapaa,US,77.11,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
35,Prescott,US,72.90,broken clouds,34.5400,-112.4685,Prescott Resort & Conference Center
36,Nanning,CN,86.45,light rain,22.8167,108.3167,Nanning Travelling With Hostel
39,Jamestown,US,73.71,scattered clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
40,Saint George,US,88.63,scattered clouds,37.1041,-113.5841,Best Western Plus Abbey Inn
41,Aksay,RU,71.24,light rain,47.2600,39.8700,Chernaya Zhemchuzhina
45,Atuona,PF,78.17,scattered clouds,-9.8000,-139.0333,Villa Enata
46,Hasaki,JP,73.80,moderate rain,35.7333,140.8333,Hotel Sunrise Choshi
48,Georgetown,MY,87.75,few clouds,5.4112,100.3354,Cititel Penang
51,Sao Filipe,CV,75.88,scattered clouds,14.8961,-24.4956,Hotel Xaguate
52,Saint-Philippe,RE,79.21,few clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
53,Airai,TL,74.73,broken clouds,-8.9266,125.4092,Juvinal Martin

In [100]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']

In [107]:
len(clean_hotel_df)

322

In [101]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [104]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [105]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))